<!DOCTYPE html>
<html lang="es" data-bs-theme="auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
</head>
<body class="min-vh-100 d-flex flex-column">
    <header class="py-3 border-bottom">
         <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr">
             <div class="d-flex align-items-center gap-2">
                 <div data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-delay="500" title="Menu">
                    <button id="sidebar-toggle" type="button" class="btn btn-outline-primary m-2" data-bs-toggle="offcanvas" data-bs-target="#sidebar-main" aria-controls="sidebar-main">
                        <svg class="bi pe-none" width="16" height="16" aria-hidden="true"><use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#list"></use></svg>
                    </button>
                 </div>
                <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none text-primary">
                    <inline-svg src="emian.svg" />
                </a> 
             </div>
        </div>
    </header>
        
    <main role="main" class="d-flex flex-nowrap flex-fill">
        <h1 class="visually-hidden">@ViewData["Title"]</h1>
        <div id="sidebar-main" class="offcanvas-lg offcanvas-start bg-body-tertiary border-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" aria-labelledby="sidebar-main-label">
            <div class="offcanvas-header">
                <h5 id="sidebar-main-label" class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebar-main" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body h-100">
                <div class="d-flex flex-column flex-shrink-0 h-100 w-100">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" active-when data-bs-toggle="tooltip" data-bs-placement="right" data-bs-delay="500" title="Inicio">
                                <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#house-door"></use></svg>
                                <span>Inicio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Cliente" asp-action="Index" active-when data-bs-toggle="tooltip" data-bs-placement="right" data-bs-delay="500" title="Clientes">
                                <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#person-circle"></use></svg>
                                <span>Clientes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Factura" asp-action="Index" active-when data-bs-toggle="tooltip" data-bs-placement="right" data-bs-delay="500" title="Facturas">
                                <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#receipt"></use></svg>
                                <span>Facturas</span>
                            </a>
                        </li>
                    </ul> 
                    <hr>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link link-body-emphasis" href="https://github.com/EmilioAngu2003/NCS.Prueba" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-delay="500" title="GitHub">
                                <svg class="bi pe-none rounded-circle me-2" width="32" height="32" aria-hidden="true"><use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#github"></use></svg>
                                <span>GitHub</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex-fill overflow-auto p-3">
            @RenderBody()
        </div>
    </main>
    <script src="~/lib/jquery/jquery.min.js" defer></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" defer></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    <script src="~/js/theme.js" asp-append-version="true" defer></script>
    <script src="~/js/sidebar.js" asp-append-version="true" defer></script>
    <script src="~/js/tooltip.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
